#header {
	background-image: url("https://images.unsplash.com/photo-1497616987741-7fba8102046e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
	background-position: center;
	color: white;
}

#about {
	font-family: 'Nunito', sans-serif;
}

