body {
	background-image: url(bgimg1.jpg);
	background-size: cover;
}
h3 {
	text-align: center;
	border: 2px solid white;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

form {
	color: white;
	cursor: pointer;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.box {
	border: 2px solid white;
	box-align : center;
	display: inline-flex;
	color: white;
	font-family: 'Montserrat', sans-serif; 
}

.boo {
	width: 10px;
	height: 10px;
	background-color: red;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}
