<%- include ("partials/header") %>
<head>
	<head>
	<link rel="stylesheet" type="text/css"   href="/css/home.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
	</head>
</head>
<div class = "container" id = "welcome">
	<div class = "heading">
	 Welcome to BLOGGER!
	</div>
	<div class = "but">
		<div class="ui animated red button">
					  <div class="visible content">Explore!</div>
					  <div class="hidden content">
						<i class="right arrow icon"></i>
					  </div>
		</div>
	</div>
</div>

<%- include ("partials/footer") %>